.container3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    margin-bottom: 50px;
}

.holder {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.text-holder {
    width: 50%;
    text-align: left;
    color: black;
}

.leftie,
.rightie {
    width: 260px;
    height: 450px;
}

.left1 {
    background-image: url("../../image/about11.jpg");
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left2 {
    background-image: url("../../image/about22.jpg");
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right1 {
    background-image: url("../../image/about33.jpg");
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right2 {
    background-image: url("../../image/about44.jpg");
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}